#users_guide.help.modal
  #heading
    %h1 Prospektor@trade; User's Guide
  #toc.section
    %h2 Table of Contents
    .subsection
      .contents
        =link_to "Dashboard", '#dashboard'
  #dashboard.section
    %a{ :anchor => 'dashboard' }
    %h2 Dashboard
    .subsection
      .heading
      .contents
  #lead.section
    %a{ :anchor => 'lead' }
    %h2 Lead
    .subsection
      .heading
      .contents