<script type="text/javascript" charset="utf-8">
	$(function(){
		$('#login').focus();
	});
</script>
<div id="login_box">
	<div id="login_widget">
  	<% form_tag session_path do -%>
  		<%= render :partial => 'sessions/login_form' %>
  	<% end -%>
  </div>
</div>
