%style
  :sass
    .agreement
      .choice
        :width 49.75%
        :float left
        :text-align center
        :margin 0 auto
#confidential
  .statement
    %h1 Confidentiality Agreement
    %p
      YOU MUST ACCEPT THESE TERMS IN ORDER TO ACCESS PROSPEKTOR.  BY CLICKING THE “I ACCEPT” BUTTON, YOU ARE INDICATING YOUR ASSENT TO BE BOUND BY THIS LEGALLY-BINDING AGREEMENT.
    %p
      By proceeding, you agree that all information and related documentation located in the Prospektor application are the proprietary and confidential property of Trigon Solutions, Inc., and as such, may not be revealed to outside interests or competitors.  This grant of use is for personal informational purposes only, and for no other.  The information contained within the Prospektor application is for the use of authorized independent contractors and other users expressly authorized by Trigon, and all such users are unauthorized to provide access to Prospektor to anyone else.  All other users are unauthorized, and access by those unauthorized users, whether direct or indirect, is strictly prohibited.  Any such violation of this agreement can be considered a breach of contract and misappropriation of trade secrets, and Trigon reserves all legal rights to stop such a violation, including temporary and permanent injunctive relief, monetary damages, and attorney fees.
  .agreement
    -form_tag terms_url do |f|
      .choice=submit_tag "I Accept" 
      .choice=submit_tag "I Decline", :confirm => 'Are you sure?'