#dashboard
  #first-time.dashboard
    #welcome
      %h2 Welcome!
      %p Hello and welcome to Prospektor&trade;, Trigon Solutions' prospect management application.  Prospektor enables Trigon Expert Scheduling personnel to access the central repository of leads, manage workflow, and schedule sales presentations and expert sessions.  The application will also provide detailed financial reports so that you can monitor your effectiveness and increase your sales.
      %p As most Expert Schedulers are working remotely, the Prospektor application is often the primary means of day-to-day communication between the scheduler and the company.  Important notices and updates will appear on this page regularly.  
      %p.strong Please read the updates as they appear and stay current, as this will directly affect your effectiveness as a Trigon employee.
    #getting-started
      %h2 Getting Started
      %p In general, we have striven to make Prospektor as easy to use as possible.  However, we have also crafted this #{link_to 'User Guide', users_guide_url, :target => '_blank'} that briefly describes how to use the application.  If you have any further questions, please feel free to contact the management team at 214-361-0080 or via email at #{link_to 'help@trigonsolutions.com', 'mailto:help@trigonsolutions.com'}.