#getting_started.content
  .fold
    %h1 Getting Started
  .vessel
    %p Welcome to Trigon Solutions and Prospektor, Trigon's proprietary Lead Management System.

    %p Before you start calling, you need to familiarize yourself with the Prospektor application and the Sales Aides that are included.

    %h2 Sales Aides

    %p Over the years, Trigon has developed a lot of material around becoming successful in sales.  The 3 most important Sales Aides for you to start with are:
    %ol
      %li
        %span.highlight Keys to Success
        %span - covers the 7 main topics critical to success in executive sales at Trigon,
      %li 
        %span.highlight Your Presentation
        %span - provides two scripts: one for the gatekeeper and another for the prospect,
      %li 
        %span.highlight Resistances
        %span - discusses the 25 most commonly encountered resistances and proven ways to overcome each.

    %p It is important that you know the content in the other Sales Aides, but it is critical to your success that you become intimately knowledgeable with the above.  

    %p To access the Sales Aides, click on the help menu at the top-right of your screen.

    %h2 Getting Around Prospektor

    %p Prospektor is designed to get you up and running quickly with a minimal amount of fuss.  The application has two primary pages that you will use on a daily basis:
    %ol
      %li 
        %span.highlight The Dashboard
        %span - displays a calendar you will use to plan your callbacks before you start your day.  You can drag-and-drop any callback to the specific date and time you want to call them.  The 
        %span.highlight Start&nbsp;Calling
        %span button takes you to...
      %li 
        %span.highlight The Lead
        %span - shows the information you need to make your call.  The actions you can take on a lead are in yellow near the top-right.  They are:
        %ul
          %li 
            %span.highlight Disposition
            %span - allows you to set a status on the lead and move on to the next one,
          %li 
            %span.highlight Send
            %span - allows you to quickly send the prospect requested information,
          %li 
            %span.highlight Comment
            %span - add a comment to the lead, and
          %li 
            %span.highlight Edit
            %span - correct prospect information. 
            
    %p We have also created a video that explains in some depth Prospektor's capabilities and how to get around using it.  It is strongly encouraged you watch this video before going any further.  If you decide to watch it at another time, you can find it in the help section of Prospektor (Don't know where the Help is?  Hmm...  You should probably watch the video...)
    
    %p
      %strong=link_to 'Prospektor Walkthough Video', '#'
  
    %p 
      %span For more in-depth coverage on working with Prospektor, please refer to the 
      %span.highlight Users Guide
      %span, accessible via the help menu at any time.

    %p Any questions that you might have will be handled in your daily operations call.
  .controls