#dashboard
  .dashboard
    #news.item
    #upcoming.item
      .title
        %h3 What's Around the Corner?
      .content
        %p Hope everyone had a great holiday.  As we start 2010, I'd like to make you aware of some exciting changes coming around at Trigon in the next few months.
        %p As you can see, the new Prospektor system is now online.  Initially, only for Expert Schedulers, but we'll be rolling it out to the rest of the sales force in the near future.
        %p We also wanted to keep you in the loop on the planned features and enhancements, and also to invite you, our users, to participate in the growth of this application.  Feel free to use the Get Satisfaction widget on the left hand side of the screen to make suggestions, report bugs, or make comments on the application.
        %p We've already got a pretty good laundry list going, including some of the following:
        %ul
          %li VOIP dialing from the application
          %li A Reporting section, containing detailed performance and income reports
          %li Proactive training based upon individual performance metrics
          %li Take a look at the Get Satisfaction site for more ideas
        %p Happy New Year and enjoy your new career as part of the Trigon Team!
      .sig Adam Strickland, Chief Technology Officer