#dashboard
  .content
    .fold
      %strong Dashboard
    .vessel
      #loading{ :style => "display:none"} loading...
      #calendar
      %hr
      
-content_for :scripts do
  -if Rails.env == 'production'
    :javascript
      google.load("jqueryui", "1.7.2")
    =javascript_include_tag "fullcalendar.min"
  -else
    =javascript_include_tag 'ui/ui.core','ui/ui.draggable','ui/ui.droppable','ui/ui.resizable'
    =javascript_include_tag "fullcalendar"
  :javascript
    $(document).ready(function(){
      $('#calendar').fullCalendar({
        editable:true,
        events:'#{user_leads_calendar_url(current_user)}.json',
        eventDrop:function(event,delta){
          alert(event.title+' was moved '+delta+' days\n(should probably update your database)');
        },
        loading:function(bool){
          bool ? $('#loading').show() : $('#loading').hide()
        }
      })
    });  
        
-content_for :styles do
  =stylesheet_link_tag 'fullcalendar'
  %style{ :type => "text/css" }
    :sass
      #calendar
        :margin 0 auto
      #loading
        :position absolute
        :top 5px
        :right 5px
      .twocol
        :height 600px
        .lcol,.rcol
          :width 45%
          :border 1px solid red