.content
  .fold
    %strong Dashboard
  .holder
    / #loading{ :style => "display:none"} loading...
    .calendar
      #calendar
    .control
      / =button_to 'Start Calling!', user_leads_url(current_user)
      =link_to image_tag('start_calling.png'), user_call_manager_url(current_user)
    %hr

/ -content_for :menu do  
/   %ul
/     %li=link_to_function content_tag(:span, 'Print'), 'window.print();'
/     / %li=link_to content_tag(:span, 'Print Day'), user_agenda_day_print_url(current_user, :height => 300, :width => 500), :class => 'thickbox'
/     / %li=link_to content_tag(:span, 'Disposition'), new_lead_disposition_url(@lead, :height => 300, :width => 500), :class => 'thickbox'


-content_for :scripts do
  -if Rails.env == 'production'
    :javascript
      google.load("jqueryui", "1.7.2")
    =javascript_include_tag "fullcalendar.min"
  -else
    =javascript_include_tag 'ui/ui.core','ui/ui.draggable','ui/ui.droppable','ui/ui.resizable'
    =javascript_include_tag "fullcalendar"
  :javascript
    $(document).ready(function(){
      $('#calendar').fullCalendar({
        defaultView:'agendaWeek',
        header: {
      		left: '',
      		center: 'title',
      		right: ''
      	},
      	/*timeFormat:{
      	  agenda:''
      	},*/      	
      	titleFormat: {
      		week: "'Callbacks for 'MMM d[ yyyy]{ '-'[ MMM] d, yyyy}",
      	},
      	firstHour:8,
      	slotMinutes:15,
      	/*slotMinutes:30,*/
      	defaultEventMinutes:15,
      	allDayText:'open',
      	weekends:false,
      	allDayDefault:true,
        editable:true,
        events:'#{user_call_backs_url(current_user, :format => 'json')}',
        eventDrop:function(event,dayDelta,minDelta,allDay,ev,ui){
          $.post('/callbacks/'+event.id+'.json', {
            _method:'put',
            callback_at:event.start
          }, function(data, status, xhr){
          
          }, 'json');
        },
        loading:function(bool){
          bool ? $('#loading').show() : $('#loading').hide()
        }
      })
    });  
        
-content_for :styles do
  =thirdparty_stylesheet_link_tag 'fullcalendar'
  %style{ :type => "text/css" }
    :sass
      @import scheme.sass
      
      =dark_chocolate
        :background-color = !cl_copy
        :color = !cl_folder
        :font-weight bold
      =milk_chocolate  
        :background-color = !cl_folder
        :color = !cl_copy
      =blue_hash
        :background #125BA8 url(/images/hash_bkgrnd.png) repeat
        :color white
        
      #calendar
        :margin 0 auto
        table.fc-header
          :margin 1em auto
          h2.fc-header-title
            :font
              :size 2em
              :weight bold
        .fc-content
          +milk_chocolate
          .fc-agenda-head
            table
              tr.fc-first
                +blue_hash
                :font-size 1.5em
                :height 2.5em
                th
                  :vertical-align center
                  :padding 0.5em 0
          tr
            th.fc-state-default
              +blue_hash
          .fc-state-highlight
            .fc-day-number
              :color = !cl_footer
      #dashboard
        .control
          :margin 1em auto 0 auto
          :text-align center
          a
            :position relative
            :z-index 99             
      #loading
        :position absolute
        :top 5px
        :right 5px