%p #{@user.employee.present? ? (@user.employee.preferred_name || @user.employee.first_name) : @user.name}:
%p I regret to inform you that effective immediately your Prospektor account has been suspended. 
%p We understand that this position is demanding for even the most seasoned phone sales professional. Selling business owners, presidents and C-level executives is difficult, especially during today's challenging economic times. I want to wish you well in the future and congratulate you for giving your best to succeed with us.
%p If you wish to discuss this decision, please give me a call.
%p
%p.signature
  / =image_tag('http://sales.trigonsolutions.com/giles_signature.jpg')
  %br
  %span Giles Niblack
  %br
  %span President
  %br
  %span Trigon Solutions, Inc.
  %br
  %span 214-361-0080 x101