%p #{@user.employee.present? ? (@user.employee.preferred_name || @user.employee.first_name) : @user.name}:
%p I want to welcome you to the Trigon Team. You have taken a very important step to an exciting career.
%p No matter what sales job you have had in the past, no sales job in any industry can provide you the sense of satisfaction of the executive sales position at Trigon. It is very rewarding knowing that you can bring the help to a small to mid-sized business that can have such a dramatic impact on all involved. Not only have we been able to help the business owners, but by improving their businesses it has indirectly helped their employees and the communities in which they reside. Without the executive sales team members like you, none of this would have been possible.
%p The dedicated business consultants at Trigon who will work for your clients have literally helped many thousands of businesses of all types all over the nation. We do not engage any analytical or business consultant who has not proven that they can have a positive impact of their clients' businesses.
%p Working together we will help you achieve your career and financial goals.
%p Again welcome aboard, and I hope to see you at the top.
%p
%p.signature
  / =image_tag('http://sales.trigonsolutions.com/charlie_signature.jpg')
  %br
  %span Charlie Goodbread
  %br
  %span Vice President
  %br
  %span Trigon Solutions, Inc.