#comment.dialog.modal
	.title Add a comment below
	-modal_form_for_with_history(@comment, lead_comments_url(@lead)) do |f|
		%fieldset
			.fields.container_16
				.row
					.field.grid_5.alpha.omega=f.text_area :comment, :cols => 60
					.clear
				.row
					.button.grid_5.alpha.omega
						%em
							%button{ :type => 'submit' } Save
					.clear
						
						