#add-comment.dialog
  .title Add a comment below
  -modal_form_for(@comment, lead_comments_url(@lead), :success => "#{remote_function(:url => lead_comments_url(@lead), :method => :get, :update => 'comments')}; tb_remove();") do |f|
    .fields
      .value=f.text_area :comment, :cols => 45
    .controls
      =submit_tag 'Save'
      or
      =link_to_function 'Cancel', 'tb_remove();'