%style
  :sass
    #waiting,#confirm
      :position relative
      :z-index 99
      :display none
    .controls,.row
      :padding-top 1em
#send-info.dialog
  .title Send Information Email
  .form
    -modal_form_for_with_history(@presentation, lead_presentations_url(@lead), :loading => "$('#original,#confirm').fadeOut(function(){ $('#waiting').fadeIn(); });", :complete => "$('#waiting').fadeOut(function(){ $('#confirm').fadeIn(); });" ) do |f|
      .fields.twocol
        .row.field
          .lcol Topic
          .rcol=f.select :topic_id, @topics, :selected => @presentation.topic_id || VideoTopic.find_by_name('Who Are We?')
        .row.field
          .lcol Email
          .rcol=f.text_field :email
      .controls
        #original
          =submit_tag 'Send'
          or
          =link_to_function 'Cancel', 'tb_remove();'
        #waiting
          =image_tag 'loadingAnimation.gif'
        #confirm
          .ask
            %p Was the email received?
          .no
            =submit_tag 'Resend'
          .yes
            =button_to_function 'OK', 'tb_remove()'
            =button_to_function 'Next', "tb_remove();#{ update_page{ |p| p.redirect_to(user_call_manager_url(current_user))} };"