#presentation.dialog.modal
	-modal_form_for_with_history(@presentation, lead_presentations_url(@lead), :success => update_page{|p| p.redirect_to(next_lead_in_queue_url(@lead))} ) do |f|
		%fieldset
			.fields.container_16
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :email } Email
					.field.grid_5.omega=f.text_field :email
					.clear
				.row
					.button.grid_5.prefix_2.alpha.omega{'text-align' => 'right'}
						%em
							%button{ :type => 'submit' } &nbsp;Send&nbsp;
					.clear