#presentation.dialog.modal
	-modal_form_for(@presentation, user_call_queue_lead_presentations_url(current_user, params[:call_queue_id], @lead)) do |f|
		%fieldset
			.fields.container_16
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :email } Email
					.field.grid_5.omega=f.text_field :email
					.clear
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :callback_date } Callback Date
					.field.grid_5.omega=f.date_select :callback_date
					.clear
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :callback_time } Callback Time
					.field.grid_5.omega=f.time_select :callback_time
					.clear
				.row
					.button.grid_5.prefix_2.alpha.omega{'text-align' => 'right'}
						%em
							%button{ :type => 'submit' } Save
					.clear