#presentation.dialog.modal
	-modal_form_for(@presentation, lead_presentations_url(@lead)) do |f|
		%fieldset
			.fields.container_16
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :email } Email
					.field.grid_5.omega=f.text_field :email
					.clear
				.row
					.fieldname.grid_2.alpha
						%label{ :for => :callback_date } Callback At
					.field.grid_5.omega=datetime_select :touchpoint, :call_window_start_at
					.clear
				.row
					.button.grid_5.prefix_2.alpha.omega{'text-align' => 'right'}
						%em
							%button{ :type => 'submit' } Save
					.clear