#results
  .result-header
    -unless @lead.blank?
      #lead
        .refnum Client Reference Number: #{@lead.dummy_reference_number}
        .prospect=@lead.full_name
        .company=@lead.company
        .phone=number_to_phone(@lead.phone, :area_code => true)
    #corp
      .name Trigon Solutions, Inc.
      .addy 5646 Milton St, #610
      .muni Dallas, TX 75206
      .tel (214) 361-0080
    #title Business Condition Review&trade;
  .result-chart
    -if false and @response_set.responses.map{|r| r.question.survey_section.title.downcase}.include?('manufacturing')
      .2col
        .halfsies
          #piechart{ :ht => 360, :wd => 400 }
        .halfsies
          #barchart{ :ht => 360, :wd => 400 }
        %hr.clear
    -else
      #piechart{ :ht => 480, :wd => 800 }
        =image_tag 'spinner.gif'
  .result-data
    #datatable
      %table
        %thead
          %tr
            %th.spacer
            -@response_set.survey.sections.each do |sec|
              %th{ :colspan => sec.questions.count }
                %span=sec.title
            %th
              %span Total
        %tbody
          -@categories.each do |ans|
            %tr
              %td.category=ans
              -@response_set.responses.each do |resp|
                %td.answer=resp.answer.short_text == ans[0].chr.downcase ? '&#10022;' : '&nbsp;'
              %td.total=@response_set.responses.select{|resp| resp.answer.short_text == ans[0].chr.downcase}.count

-content_for :scripts do
  / =javascript_include_tag "jquery.rotate"
  %script{ :src => "http://www.google.com/jsapi" }
  :javascript
    google.load('visualization', '1', {
      packages:[
        'piechart',
      ]
    });
    
    google.setOnLoadCallback(function(){
      $(function(){
        // $('#datatable table th span').rotate(-75);
        
        //pie chart stuff
        var $piechart = $('#piechart');
        $.getJSON(window.location+'.json', function(resp){
          var chartdata = eval(resp).piechart;
          $piechart.fadeOut(function(){
            var piedata = new google.visualization.DataTable();

            piedata.addColumn('string', 'Section');
            piedata.addColumn('number', 'Answers');
            piedata.addRows(chartdata);

            new google.visualization.PieChart($piechart[0]).draw(piedata, {
              width:$piechart.attr('wd'),
              height:$piechart.attr('ht'),
              is3D:true,
              tooltipFontSize:16,
              legend:'label',
            });
            
            $piechart.fadeIn();
          });
        });
      });
    });
  
-content_for :styles do
  :sass
    #results
      :position relative
      .result-header
        #lead, #corp
          :position absolute
          :top 1em
        #lead
          :float left
          :left 1em
        #corp
          :float right
          :right 1em
        #title
          :clear both
          :text-align center
          :font
            :size 24pt
            :weight bold
            :style italic
          :padding
            :top 4em
            :bottom 1em
      .result-chart
        :margin 0 auto
        :text-align center
        .2col
          :margin 0 2em
          .halfsies
            :margin 0 auto
            :text-align center
            :float left
            :width 49%
      .result-data  
        :padding-top 4em
        :margin 0 auto
        #datatable
          table
            :text-align center
            :margin 0 auto
            :border
              :bottom solid 1px silver
              :right solid 1px silver
              :collapse collapse
              :spacing 0
            :empty-cells show
            th,td
              :margin 0
              :border
                :left solid 1px silver
                :top solid 1px silver
              :padding 3px
            .spacer
              :border-width 0
            th
              :height 120px
              span
                :display block
                :-webkit-transform rotate(-75deg)
                :-moz-transform rotate(-75deg)
                :filter progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
            td.answer
              :width 25px
          