=javascript_include_tag 'http://ajax.microsoft.com/ajax/jquery.validate/1.6/jquery.validate.js'
%style
  :sass
    fieldset
      :margin 1em 0
      :padding 1em
      .row
        :padding 0.25em 0
        span.hidden
          :margin-left 10px
        input[type="text"], select
          :width 100%
        .error
          :color red
    .required
      :font-weight bold
      :font-style italic
:javascript
  $(function(){
    $('#applicant .application form').validate();
  
    $('#applicant_first_name').blur(function(e){
      $('#applicant_preferred_name').val($(this).val());
    }).focus();
  });
.form.grid_12
  .demographics
    %fieldset
      .row.required
        .label.grid_4=f.label :first_name
        .value.grid_6=f.text_field :first_name, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :preferred_name, 'Nickname/Called By'
        .value.grid_6=f.text_field :preferred_name, :class => 'required'
        .clear
      .row
        .label.grid_4=f.label :middle_initial
        .value.grid_6=f.text_field :middle_initial, :minlength => 1, :maxlength => 1, :size => 1
        .clear
      .row.required
        .label.grid_4=f.label :last_name
        .value.grid_6=f.text_field :last_name, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :address
        .value.grid_6=f.text_field :address, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :city
        .value.grid_6=f.text_field :city, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :state_province, "State or Province"
        .value.grid_6=f.select :state_province, grouped_options_for_select(grouped_state_provinces_collection), { :include_blank => true }, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :postal_code
        .value.grid_6=f.text_field :postal_code, :class => 'required digits'
        .clear
      .row.required
        .label.grid_4=f.label :country
        .value.grid_6=f.select :country, [['USA', 'US'], ['Canada', 'CA'], ['Mexico', 'MX']], { :include_blank => true }, :class => 'required'
        .clear
      .row.required
        .label.grid_4=f.label :email
        .value.grid_6=f.text_field :email, :class => 'required email'
        .clear
      .row
        .label.grid_4=f.label :home_phone
        .value.grid_6=f.text_field :home_phone, :minlength => 10, :maxlength => 10, :class => 'digits', :size => 10
        .clear
      .row
        .label.grid_4=f.label :mobile_phone
        .value.grid_6=f.text_field :mobile_phone, :minlength => 10, :maxlength => 10, :class => 'digits', :size => 10
        .clear
      .row.required
        .label.grid_4=f.label :business_phone
        .value.grid_6=f.text_field :business_phone, :minlength => 10, :maxlength => 10, :class => 'required digits', :size => 10
        .clear
  .postion
    %fieldset
      =hidden_field_tag 'applicant[position_applying_for]', 'Sales'
      / .row
      /   .label.grid_4=f.label :position_applying_for, "What position are you applying for?"
      /   / .value.grid_6=f.select :position_applying_for, ['Administration', 'Sales', 'Analysis', 'Consulting']
      /   .value.grid_6
      /     %span.hidden Sales
      /   .clear
      .row
        .label.grid_4=f.label :years_experience, "Please indicate how much phone sales experience you have."
        .value.grid_6=f.select :years_experience, ['0-2 years', '3-5 years', '6-10 years', '10+ years'], { :include_blank => true }
        .clear
      .row
        .label.grid_4=f.label :consulting_experience_description, "Please describe any consulting industry experience you have."
        .value.grid_6=f.text_area :consulting_experience_description, :rows => 10, :cols => 60
        .clear
      .row
        .label.grid_4=f.label :has_applied_before, "Have you applied to Trigon Solutions before?"
        .value.grid_6=yes_no_radio(f, :has_applied_before)
        .clear
      .row
        .label.grid_4=f.label :how_heard, "How did you hear of Trigon Solutions?"
        .value.grid_6=f.select :how_heard, ['Craigslist', 'Yahoo/HotJobs', 'Google', 'Other Website', 'Friend', 'Client', 'Other'], { :include_blank => true }
        .clear
      .row
        .label.grid_4=f.label :highest_education, "Please indicate your highest level of education completed."
        .value.grid_6=f.select :highest_education, ['High School', "Associate's Degree", "Bachelor's Degree", "Master's Degree", "Doctorate"], { :include_blank => true } 
        .clear   
      .row
        .label.grid_4=f.label :school, "Where did you complete your highest level of education?"
        .value.grid_6=f.text_field :school 
        .clear
      .row
        .label.grid_4=f.label :has_internet, "Do you have a high-speed internet connection (e.g. DSL, Cable or better) at your disposal?"
        .value.grid_6=yes_no_radio(f, :has_internet)
        .clear
      .row
        .label.grid_4=f.label :has_voip, "Do you have a VOIP phone at your disposal?"
        .value.grid_6=yes_no_radio(f, :has_voip)
        .clear
      .row
        .label.grid_4=f.label :work_restrictions, "Please describe any work restrictions you might have."
        .value.grid_6=f.text_area :work_restrictions, :rows => 10, :cols => 60
        .clear