%style
  :sass
    .introduction
      p
        :margin 1em
        :padding-bottom 3em
      h1
        :text-align center
#applicant
  .introduction
    %h1 Thanks!
    %p 
      Thank you for your submission.  We will process your application as quickly as possible and get back to you in the next few business days.