@import gemcutter_nav.sass

/ colors
!cl_header = #eee
!cl_subtitle = gold
!cl_menu_link = !cl_subtitle
!cl_footer = silver
!cl_tab = #cbc2ae
!cl_copy = #5E543E
!cl_dark = #111
!cl_pop = #8F0B0B

body
  :background #125BA8 url(/images/hash_bkgrnd.png) repeat
hr
  :margin-bottom -1px
  :height 1px
  :visibility hidden
  :clear both
#hd
  :background url(/images/hd.jpg) repeat-x
  .nav
    ul.linky
      :margin-bottom 1em
      li.small
        :font-size 0.5em
      li
        :color = !cl_header
        :text-shadow 0 0 10px #000
        a
          :padding 7px
          :text-decoration none
          :text-shadow 0 0 0 0
          &:hover
            :text-decoration underline
            :background 0
  .header
    .supertitle
      :color = !cl_header
      :top 2.4em
      :font-size 10pt
      :position relative 
    h1
      a
        :text-indent 0
        :font
          :size 32pt
        :color = !cl_header
        :border-bottom
          :width 1px 
          :style solid 
          :color  = !cl_header
    .subtitle
      :font
        :size 12pt
        :weight bold
      :color = !cl_subtitle
      :text-align right
      :margin-right 20px
#bd
  .main
    :padding-top 0
    .menu
      +gemcutter_nav  
      ul
        li
          a
            :color = !cl_menu_link
    .fold
      :height 3em
      :margin auto 1em
      .tab
        strong
          :color = !cl_copy
          :background-color #cbc2ae
          :-moz-border-radius 10px 10px 0 0 
          :-webkit-border-radius 10px 10px 0 0 
          :padding 5px 15px 10px 15px
        :font
          :size 2em
          :weight bold
    .info      
      .bottom
        :height 55em
        .tabbed
          :margin 2em 1em 1em 1em
          :padding-top 1em
          :border-top
            :width 1px
            :style solid
            :color = !cl_copy
          .tabbed-items
            :clear both
            .tabbed-item-wrapper
              / :padding 1em
              :-moz-border-radius 10px
              :-webkit-border-radius 10px
              :margin 1em
              :background-color = !cl_tab
              :border 
                :width 3px
                :style solid
                :color = !cl_copy
              :height 480px
              #comments
                .item
                  :border-top
                    :width 1px
                    :style solid
                    :color = !cl_copy
                  / :margin 1em
                  :padding 1em 1em 1em 2em
                  :margin
                    :left -1em
                  span.text
                    :color = !cl_dark
                  .byline
                    :font
                      :size 0.5em
                      :weight bold
                  &:hover
                    :background-color = !cl_header
                    .byline
                      span.user
                        :color = !cl_pop
                  &:first-child
                    :border 0
              .tab-panel
                :overflow auto
                :padding-left 1em
                :height 430px
                .item
                  :text-indent -1em
                  .byline
                    :text-align right
              .tab-panel.console
                :padding 1em 1em 1em 2em
                :background black
                :-webkit-border-radius 10px
                :-moz-border-radius 10px
                :color white
                / :padding 10px
                :font
                  :family Monaco, Consolas, 'Courier New', monospace
                  :size 10pt
                  :weight normal
                .item
                  :text-indent -1.5em
                
          ol.tabs
            :margin 1em 36px 0 36px
            li
              :font-weight bold
              :float left
              :padding 8px 16px 9px 16px
              :margin-left 0.25em
              :-moz-border-radius 10px 10px 0 0 
              :-webkit-border-radius 10px 10px 0 0
              :cursor hand
              :border 
                :top-width 1px 
                :right-width 1px
                :left-width 1px
                :style solid
                :color = !cl_copy
            li.active
              :background-color = !cl_copy
              / :border-bottom-color = !cl_tab
              a
                :color = !cl_header
          .loading
            :padding-top 3em
            :margin auto
            :text-align center


.twocol
  .row
    :clear both
  .lcol
    :float left
    :margin 0
  .rcol
    :float right
    :margin 0
        
#ft
  .container_12
    .footer
      :position absolute
      :bottom 1em
      :color = !cl_footer
      a
        :color = !cl_footer
      .links
        #copyright
          :padding-top 1em
      .badges
        img
          :padding-top 3px
          :height 50px
          :display block
          :margin 0 auto
        a
          :display block
          :float right
          :text-align center
          :padding 1em
          :text-decoration none

#TB_window          
  / :-moz-border-radius 10px
  / :-webkit-border-radius 10px
  #TB_title
    / :-moz-border-radius 10px 10px 0 0 
    / :-webkit-border-radius 10px 10px 0 0
  #TB_ajaxContent  
    / :-moz-border-radius 0 0 10px 10px
    / :-webkit-border-radius 0 0 10px 10px
    :overflow hidden
    :background #125BA8 url(/images/hash_bkgrnd.png) repeat
    .dialog
      :color = !cl_header
      a
        :color = !cl_header
        :text-decoration underline
      .title,.controls
        :margin 1em auto
        :text-align center
        :text-shadow 0 0 10px #000
      .title
        :font
          :weight bold
          :size 1.5em
        :color = !cl_header
      
      
      
      
      
      