#disposition.dialog.modal
  #skip{ :style => 'float:right' }
    -disposition_form(@lead) do |f|
      =hidden_field_tag :disposition, LeadStatus.find_by_code('SKIP').id
      =submit_tag 'Skip Lead'
  #disposition_tabs
    %ol.tabs
      %li
        %a{ :href => '#' }
          %span Call Back
          %br
          %span (Decision)
      %li
        %a{ :href => '#' }
          %span Schedule
          %br
          %span (Next Call)
      %li
        %a{ :href => '#' }
          %span Book
          %br
          %span Sale
      %li
        %a{ :href => '#' }
          %span Other
          %br
          %span Disp.
    %hr
    .panes
      #callback.pane
        -disposition_form(@lead) do |f|
          .fields
            .row.field.at
              Callback At:
              / =select_datetime 1.week.from_now
              =text_field_tag :callback_at
            .row.field.comments
              Comments:
              =text_area_tag :comments
            =hidden_field_tag :disposition, 'CB'
          .controls
            =submit_tag 'Save'
      #schedule.pane
        -disposition_form(@lead) do |f|
          .fields
            .row.field.at
              Callback At:
              / =select_datetime 1.week.from_now
              =text_field_tag :callback_at
            .row.field.comments
              Comments:
              =text_area_tag :comments
            =hidden_field_tag :disposition, 'VM'
          .controls
            =submit_tag 'Save'
      #booksale.pane
        -disposition_form(@lead) do |f|
          .fields
            .row.field.comments
              Comments:
              =text_area_tag :comments
            =hidden_field_tag :disposition, 'BS'
          .controls
            =submit_tag 'Save'
      #otherdisp.pane
        -disposition_form(@lead) do |f|
          .fields
            .row.field.dispo
              Disposition
              =select_tag :disposition, options_for_select(@disposition_options), :id => 'disposition_select'
            .row.field.comments
              Comments:
              =text_area_tag :comments
          .controls
            =submit_tag 'Save'

:javascript
  $('#disposition_tabs ol.tabs').tabs('div.panes > div');