
body {
  background: #125BA8 url(/images/hash_bkgrnd.png) repeat; }

hr {
  margin-bottom: -1px;
  height: 1px;
  visibility: hidden;
  clear: both; }

#hd {
  background: url(/images/hd.jpg) repeat-x; }
  #hd .nav ul.linky {
    margin-bottom: 1em; }
    #hd .nav ul.linky li.small {
      font-size: 0.5em; }
    #hd .nav ul.linky li {
      color: #eeeeee;
      text-shadow: 0 0 10px #000; }
      #hd .nav ul.linky li a {
        padding: 7px;
        text-decoration: none;
        text-shadow: 0 0 0 0; }
        #hd .nav ul.linky li a:hover {
          text-decoration: underline;
          background: 0; }
  #hd .header .supertitle {
    color: #eeeeee;
    top: 2.4em;
    font-size: 10pt;
    position: relative; }
  #hd .header h1 a {
    text-indent: 0;
    font-size: 32pt;
    color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee; }
  #hd .header .subtitle {
    font-size: 12pt;
    font-weight: bold;
    color: gold;
    text-align: right;
    margin-right: 20px; }

#bd .main {
  padding-top: 0; }
  #bd .main .menu {
    text-align: right;
    padding-top: 2.0em; }
    #bd .main .menu ul {
      display: block;
      vertical-align: middle;
      height: 25px; }
      #bd .main .menu ul li {
        font-size: 1.5em;
        font-weight: 900;
        display: inline-block;
        vertical-align: middle; }
        #bd .main .menu ul li a {
          color: #EEE;
          padding: 7px;
          text-decoration: none;
          text-shadow: 0 0 10px #000;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          margin-top: 5px; }
          #bd .main .menu ul li a:hover {
            text-decoration: none;
            background: rgba(0,0,0,.2); }
          #bd .main .menu ul li a#user_gravatar {
            padding-top: 16px; }
    #bd .main .menu ul li a {
      color: gold; }
  #bd .main .fold {
    height: 3em;
    margin: auto 1em; }
    #bd .main .fold .tab {
      font-size: 2em;
      font-weight: bold; }
      #bd .main .fold .tab strong {
        color: #5e543e;
        background-color: #cbc2ae;
        -moz-border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        padding: 5px 15px 10px 15px; }
  #bd .main .info .bottom {
    height: 55em; }
    #bd .main .info .bottom .tabbed {
      margin: 2em 1em 1em 1em;
      padding-top: 1em;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #5e543e; }
      #bd .main .info .bottom .tabbed .tabbed-items {
        clear: both; }
        #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper {
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          margin: 1em;
          background-color: #cbc2ae;
          border-width: 3px;
          border-style: solid;
          border-color: #5e543e;
          height: 480px; }
          #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item {
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #5e543e;
            padding: 1em 1em 1em 2em;
            margin-left: -1em; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item span.text {
              color: #111111; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item .byline {
              font-size: 0.5em;
              font-weight: bold; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item:hover {
              background-color: #eeeeee; }
              #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item:hover .byline span.user {
                color: #8f0b0b; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper #comments .item:first-child {
              border: 0; }
          #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper .tab-panel {
            overflow: auto;
            padding-left: 1em;
            height: 430px; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper .tab-panel .item {
              text-indent: -1em; }
              #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper .tab-panel .item .byline {
                text-align: right; }
          #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper .tab-panel.console {
            padding: 1em 1em 1em 2em;
            background: black;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            color: white;
            font-family: Monaco, Consolas, 'Courier New', monospace;
            font-size: 10pt;
            font-weight: normal; }
            #bd .main .info .bottom .tabbed .tabbed-items .tabbed-item-wrapper .tab-panel.console .item {
              text-indent: -1.5em; }
      #bd .main .info .bottom .tabbed ol.tabs {
        margin: 1em 36px 0 36px; }
        #bd .main .info .bottom .tabbed ol.tabs li {
          font-weight: bold;
          float: left;
          padding: 8px 16px 9px 16px;
          margin-left: 0.25em;
          -moz-border-radius: 10px 10px 0 0;
          -webkit-border-radius: 10px 10px 0 0;
          cursor: hand;
          border-top-width: 1px;
          border-right-width: 1px;
          border-left-width: 1px;
          border-style: solid;
          border-color: #5e543e; }
        #bd .main .info .bottom .tabbed ol.tabs li.active {
          background-color: #5e543e; }
          #bd .main .info .bottom .tabbed ol.tabs li.active a {
            color: #eeeeee; }
      #bd .main .info .bottom .tabbed .loading {
        padding-top: 3em;
        margin: auto;
        text-align: center; }

.twocol .row {
  clear: both; }
.twocol .lcol {
  float: left;
  margin: 0; }
.twocol .rcol {
  float: right;
  margin: 0; }

#ft .container_12 .footer {
  position: absolute;
  bottom: 1em;
  color: silver; }
  #ft .container_12 .footer a {
    color: silver; }
  #ft .container_12 .footer .links #copyright {
    padding-top: 1em; }
  #ft .container_12 .footer .badges img {
    padding-top: 3px;
    height: 50px;
    display: block;
    margin: 0 auto; }
  #ft .container_12 .footer .badges a {
    display: block;
    float: right;
    text-align: center;
    padding: 1em;
    text-decoration: none; }

#TB_window #TB_ajaxContent {
  overflow: hidden;
  background: #125BA8 url(/images/hash_bkgrnd.png) repeat; }
  #TB_window #TB_ajaxContent .dialog {
    color: #eeeeee; }
    #TB_window #TB_ajaxContent .dialog a {
      color: #eeeeee;
      text-decoration: underline; }
    #TB_window #TB_ajaxContent .dialog .title, #TB_window #TB_ajaxContent .dialog .controls {
      margin: 1em auto;
      text-align: center;
      text-shadow: 0 0 10px #000; }
    #TB_window #TB_ajaxContent .dialog .title {
      font-weight: bold;
      font-size: 1.5em;
      color: #eeeeee; }
