/*
Sass::SyntaxError: Undefined variable: "!w".
on line 12 of ./app/sass/admin/assignments/../../_scheme.sass

8: 
9: !sz_font = 12.5px
10: !fm_font = "Verdana, Arial, Helvetica, sans-serif"
11: 
12: !cl_brdr = !w
13: !cl_text = !w
14: !cl_body = !prim_emB
15: !cl_main = !prim
16: !cl_link = !secB
17: !cl_hovr = !comp
18: !cl_menu = !secB


Backtrace:
./app/sass/admin/assignments/../../_scheme.sass:12
./app/sass/admin/assignments/../../_scheme.sass:12
./app/sass/admin/assignments/../../_scheme.sass:12
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/script/variable.rb:27:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/variable_node.rb:27:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/import_node.rb:35:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/import_node.rb:35:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:193:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/tree/node.rb:103:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:94:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:80:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:75:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:75:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:73:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:73:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin.rb:60:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-2.2.13/rails/../lib/sass/plugin/rails.rb:18:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.5/lib/action_controller/test_process.rb:567:in `process_with_test'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.5/lib/action_controller/test_process.rb:447:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.5/lib/action_controller/test_process.rb:403:in `post'
./spec/controllers/disposition_controller_spec.rb:72
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_methods.rb:40:in `instance_eval'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_methods.rb:40:in `execute'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/timeout.rb:53:in `timeout'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_methods.rb:37:in `execute'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_group_methods.rb:214:in `run_examples'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_group_methods.rb:212:in `each'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_group_methods.rb:212:in `run_examples'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/example/example_group_methods.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/runner/example_group_runner.rb:23:in `run'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/runner/example_group_runner.rb:22:in `each'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/runner/example_group_runner.rb:22:in `run'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/runner/options.rb:151:in `run_examples'
/Library/Ruby/Gems/1.8/gems/rspec-1.2.9/lib/spec/runner/command_line.rb:9:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/lib/spork/test_framework/rspec.rb:6:in `run_tests'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/run_strategy/forking.rb:13:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/forker.rb:20:in `initialize'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/forker.rb:18:in `fork'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/forker.rb:18:in `initialize'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/run_strategy/forking.rb:9:in `new'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/run_strategy/forking.rb:9:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/server.rb:46:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1562:in `__send__'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1562:in `perform_without_block'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1522:in `perform'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1596:in `main_loop'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1592:in `loop'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1592:in `main_loop'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1588:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1588:in `main_loop'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1437:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1434:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1434:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1354:in `initialize'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1634:in `new'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/drb/drb.rb:1634:in `start_service'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/server.rb:28:in `listen'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/server.rb:20:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/runner.rb:77:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/../lib/spork/runner.rb:12:in `run'
/Library/Ruby/Gems/1.8/gems/spork-0.7.3/bin/spork:10
/usr/bin/spork:19:in `load'
/usr/bin/spork:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!w\".\A on line 12 of ./app/sass/admin/assignments/../../_scheme.sass\A \A 8: \A 9: !sz_font = 12.5px\A 10: !fm_font = \"Verdana, Arial, Helvetica, sans-serif\"\A 11: \A 12: !cl_brdr = !w\A 13: !cl_text = !w\A 14: !cl_body = !prim_emB\A 15: !cl_main = !prim\A 16: !cl_link = !secB\A 17: !cl_hovr = !comp\A 18: !cl_menu = !secB\A "; }
