
* {
  margin: 0px;
  padding: 0px; }

html, body {
  height: 100%; }

body {
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #090454; }
  body >div {
    margin: 0 auto; }

a {
  text-decoration: none;
  color: #10579b; }
  a:link, a:visited {
    text-decoration: none;
    color: #10579b; }
  a:hover {
    text-decoration: underline;
    color: #efb908; }

div#body {
  width: 960px;
  height: 100%;
  background-color: #241ca6; }

#hd {
  width: 960px;
  height: 140px;
  top: 2em;
  position: relative; }
  #hd div {
    position: relative; }
  #hd #branding {
    text-align: center; }
    #hd #branding #company {
      font-size: 10px;
      left: -80px; }
    #hd #branding #application {
      font-size: 40px;
      font-weight: bold; }
  #hd #identity {
    width: 180px;
    position: absolute;
    right: 0.75em;
    top: 0;
    float: right;
    background-color: #35326c; }
    #hd #identity * {
      margin: 1em; }
    #hd #identity #login {
      font-weight: bold; }
    #hd #identity .act {
      display: block;
      text-align: right; }
      #hd #identity .act a:link, #hd #identity .act a:visited {
        color: #efb908; }
      #hd #identity .act a:hover {
        color: #10579b; }

#bd {
  width: 960px; }
  #bd #nav #navbar ul {
    background-color: #5512a2;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0.2em 0;
    text-align: center; }
    #bd #nav #navbar ul li {
      display: inline;
      width: 10em; }
      #bd #nav #navbar ul li a {
        padding: 0.2em 1em;
        text-decoration: none;
        color: #efb908;
        height: 3em;
        text-align: center;
        margin: auto;
        font-size: 20px; }
        #bd #nav #navbar ul li a:hover {
          background-color: #6522b2;
          color: white; }
  #bd #nav a {
    font-weight: bold; }
  #bd #flash {
    font-weight: bold; }
    #bd #flash .error {
      color: red; }
    #bd #flash .status {
      color: green; }
  #bd #content {
    margin: 0;
    text-align: left; }
    #bd #content >div {
      padding: 1em; }
    #bd #content #sidebar {
      width: 180px;
      float: right; }
      #bd #content #sidebar div.menu {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: !cl_brdr;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: !cl_brdr;
        background-color: #10579b;
        margin: 0 0 0 0.25em;
        width: 180px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px; }
        #bd #content #sidebar div.menu .title {
          display: block;
          text-align: center;
          border-bottom: 1px solid;
          border-bottom-color: #090454;
          padding: 1em 0 !important; }
          #bd #content #sidebar div.menu .title.name {
            background-color: #5512a2; }
        #bd #content #sidebar div.menu ul.menu {
          list-style: none;
          text-decoration: none; }
          #bd #content #sidebar div.menu ul.menu li {
            color: gray; }
            #bd #content #sidebar div.menu ul.menu li a {
              display: block;
              text-decoration: none;
              background-image: none; }
              #bd #content #sidebar div.menu ul.menu li a:link, #bd #content #sidebar div.menu ul.menu li a:visited {
                color: white; }
              #bd #content #sidebar div.menu ul.menu li a:hover {
                background-color: #efb908;
                color: black; }
    #bd #content #main {
      margin: 0;
      width: 720px; }

#ft {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 1em; }

#TB_window #TB_ajaxContent {
  background-color: #090454; }
  #TB_window #TB_ajaxContent .modal_dialog {
    width: 100%;
    color: white; }
    #TB_window #TB_ajaxContent .modal_dialog .widget .single {
      margin: 0 auto;
      text-align: center; }
    #TB_window #TB_ajaxContent .modal_dialog .widget .right {
      text-align: right; }
    #TB_window #TB_ajaxContent .modal_dialog .widget .widget_item {
      margin: 1em; }
