hr {
  clear: both;
  margin-bottom: -1px;
  height: 1px;
  visibility: hidden; }

#main .primary {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: !cl_brdr;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: !cl_brdr;
  background-color: #3486cf;
  padding: 1em;
  margin-bottom: 1em; }
  #main .primary div.h1 {
    font-weight: bold;
    font-size: 31.25px; }
  #main .primary #demographics .phone {
    width: 325px;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: !cl_main;
    background-color: #00549f;
    float: right;
    position: relative;
    text-align: center;
    border-color: black; }
  #main .primary div.h2 {
    font-style: italic;
    font-size: 21.875px; }
  #main .primary #company .addl_info {
    width: 325px;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: !cl_main;
    margin-top: 10ox;
    background-color: #b87f2e;
    color: black;
    height: 125px; }
    #main .primary #company .addl_info .section_title {
      font-weight: bold;
      text-align: center; }
  #main .primary #company #sic_info {
    float: left; }
  #main .primary #company #misc_info {
    float: right; }
    #main .primary #company #misc_info span {
      display: block;
      width: 50%; }
    #main .primary #company #misc_info span.field {
      float: left; }
    #main .primary #company #misc_info span.value {
      float: right; }
#main .secondary {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: !cl_brdr;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: !cl_brdr;
  padding: 1em;
  background-color: #3486cf;
  height: 230px;
  overflow: auto; }
  #main .secondary .title {
    font-weight: bold;
    text-align: center; }

#edit_me {
  position: relative;
  float: right;
  top: 40px;
  right: -345px; }
