%tr
  %td
    %h2{ :style => 'color:blue' } Thanks again for your interest in our Business Condition Review&trade;.
%tr
  %td
    %p To start the process, click or copy and paste this URL into your browser:
    %p #{auto_link @url}
/ %tr
/   %td
/     %p Plead temporarily disable your popup blocker before viewing the video.
%tr
  %td
    %p{ :style => 'font:bold;color:red' } There is an exciting opportunity at the end.
%tr
  %td If you have any questions, please feel free to call me.