%tr
  %td
    %h2{ :style => 'color:blue' } Thanks again for your interest in our #{@topic} video.
%tr
  %td
    %p To start the process, click or copy and paste this URL into your browser:
    %p #{auto_link @url}
%tr
  %td If you have any questions, please feel free to call me.