<tr>
	<td>
		<h2 style="color:blue;text-align:center">Invitation to "Competition and How to Stay on Top"</h2>
	</td>
</tr>
<tr>
	<td>
		<p>
			To view the online session, copy and paste this URL into your browser:
		</p>
		<p>
			<%= auto_link @url %>
		</p>
		<p>
			Select "enter as a guest."  In the box, type your first and last name in the guest section.
		</p>
	</td>
</tr>
<tr>
	<td>	
		If you have any questions, please feel free to call me.
	</td>
</tr>