:plain
Thanks again for your interest in our #{@topic}.

To start the process, click or copy and paste this URL into your browser:
#{auto_link @url}

If you have any questions, please feel free to call me.