<tr>
	<td>
		<h2 style="color:blue">Expert Session Reservation **CONFIRMED**</h2>
	</td>
</tr>
<tr>
	<td>
		<p>
			Your complimentary session has been confirmed as follows:
		</p>
		<p>
			<table>
				<tr><td>Date:</td><td><%= @appointment[:date] %></td></tr>
				<tr><td>Time:</td><td><%= @appointment[:time] %></td></tr>
				<tr><td>Topic:</td><td><%= @appointment[:topic].titleize %></td></tr>
			</table>
		</p>
		<p>
			Note: As a reminder, the session will be conducted over the phone.  Please inform your secretary that you will be expecting this call.
		</p>
	</td>
</tr>
<tr>
	<td>
		Your subject matter expert is recognized as one of the top in the field that you have chosen.  Everything
		you discuss will be considered business-sensitive and will not be disclosed to anyone else.
	</td>
</tr>