#listing {
  padding-top: 1em;
  text-align: center;
  margin: 0 auto; }
  #listing .pagination {
    padding-bottom: 1em; }
  #listing .grid-data .row {
    padding: 3px; }
    #listing .grid-data .row div {
      text-align: left; }

#heading {
  font-weight: bold;
  margin-bottom: 1em; }

#controls {
  margin-bottom: 1em; }
  #controls .control {
    text-align: center;
    margin: 0 auto; }
