:javascript
  google.setOnLoadCallback(function(){
    $(function(){
      $.getJSON('#{video_url(@video, {:format => 'json'}.merge(@bindings))}', function(data){
        $('#player').flash($.extend({swf:data.swf}, swfobject_defaults));

        if(data.callback){
          $.doTimeout(500, function(){
            $('#player').flash(function(){
              if(this.TCurrentFrame('/') >= (this.TotalFrames() - 1)){
                location.href = data.callback;
                return false;
              }
            });
            return true;
          });
        }
      });
    });
  });