:javascript
  google.setOnLoadCallback(function(){
    $(function(){
      $.getJSON('#{@video_json_url}', function(json){
        $('#player').flash($.extend({swf:json.swf}, swfobject_defaults));
        
        if(json.callback){
          $.doTimeout('callerbacker', 500, function(){
            finished = true;
            $('#player').flash(function(){
              if(this.TCurrentFrame('/') >= (this.TotalFrames() - 1)){
                if(json.callback.method == 'get'){
                  location.href = json.callback.url;
                }
                else{
                  $.ajax({
                    type:'POST',
                    url:json.callback.url,
                    success:function(data, stat, xhr){},
                    dataType:'json',
                    data:{
                      callback_at:
                    }
                  });
                }
                finished = false;
              }
            });
            return finished;
          });
        }
      });
    });
  });