-content_for :scripts do
  :javascript
    google.setOnLoadCallback(function(){
      $(function(){
        $.getJSON(location.href+'.json?key='+'#{@key}', function(resp){
          $('#player').flash({
            swf:resp.swf,
            params:{ 
              allowScriptAccess:'always',
              loop:'false'
            },
            flashvars:{
              enablejsapi:'1',
              autoplay:'1',
              allowScriptAccess:'always',
            },
            height:'100%',
            width:'100%'
          });
          
          $.doTimeout(500, function(){
            $('#player').flash(function(){
              if(this.TCurrentFrame('/') >= (this.TotalFrames() - 1)){
                location.href = resp.redirect;
                return false;
              }
            });
            return true;
          });
        });
      });
    });