%p.prospect_name #{@lead.honorific} #{@lead.full_name}
%p.prospect_title=@lead.title.strip.titleize
%p.location 
  %span.city #{@lead.city.strip.titleize},&nbsp;
  %span.state=@lead.state.strip.upcase
%p.clock
  Local Time:&nbsp;
  %span.local_time{ :gmtoffset => @lead.gmt_offset }