.name.h1
  =lead.honorific
  =lead.first_name
  -if lead.salutation != lead.first_name
    "#{lead.salutation}"
  =lead.last_name
.phone.h1
  =lead.formatted_phone
  -if not lead.extension.blank?
    x#{lead.extension}
.title.h2=lead.title
#edit_me.control
  =link_to_button 'Edit', edit_lead_url(@lead, :height => 400, :width => 400), :class => 'thickbox'