.name.h1
  =lead.honorific
  =lead.first_name
  -if lead.salutation != lead.first_name
    "#{lead.salutation}"
  =lead.last_name
.phone.h1
  =lead.formatted_phone
  -if not lead.extension.blank?
    x#{lead.extension}
.title.h2=lead.title