-if @leads.present?
  -@leads.each do |lead|
    %div[lead]{ :onclick => lead_path(lead)}
      %span.prospect=lead.name
      %span.company=lead.company
      %br
      %span.address=lead.address
      %br
      %span.phone=lead.phone
-else
  No matches