<div id="disposiion-widget" class="widget">
	<% remote_form_for([current_user, @lead]) do |f| %>
		<div class="widget_item">
			<%= f.label 'State' %>
			<%= f.select :aasm_state, @lead.available_states %>
		</div>
		<div class="widget_item">
			<%= f.submit 'Save' %>
		</div>
	<% end %>
</div>