#edit-lead.dialog
  .title Lead Attributes
  .form
    -modal_form_for(@lead, lead_url(@lead, :format => :xml), :method => :put, :success => "#{remote_function(:url => demographics_lead_url(@lead), :method => :get, :update => 'demog')}; tb_remove();") do |f|
      .fields.twocol
        -[:first_name, :salutation, :last_name, :phone, :extension, :cell_phone, :web].each do |field|
          .row.field
            .name.lcol=label :lead, field, field.to_s.titleize
            .value.rcol=text_field :lead, field
        .row.field
          .name.lcol=label :lead, :title
          / .value.rcol=text_field :lead, :title
          .value.rcol=select :lead, :title, ['Owner','President','Chief Executive Officer','Chairman of the Board']
        .row.field
          .name.lcol=label :lead, :gender
          .value.rcol
            =radio_button :lead, :gender, 'M'
            Male
            =radio_button :lead, :gender, 'F'
            Female
      .controls
        =submit_tag 'Save'
        or
        =link_to_function 'Cancel', 'tb_remove();'