#lead_editor.dialog.modal
  -modal_form_for_with_history(@lead, lead_url(@lead, :format => :json), :method => :put, :success => "#{remote_function(:url => demographics_lead_url(@lead), :method => :get, :update => 'demographics')};") do |f|
    =render :partial => 'form', :locals => { :lead => @lead, :form => f }