#leads
  %div
    %h2 You have reached the end of the internet.
  %div
    %h2 Please go back.
  %div.bottom
    %h1 NOW

-content_for :styles do
  %style
    :sass
      #leads
        div
          :margin 0 auto
          :text-align center
          h1
            :font-size 5em
            :color red
            :text-decoration underline
          h2
            :font-size 4em