.content
  .vessel.centered
    %h1 An error has been created.  
    %h2 Please use the back button on your browser to go back.  
    %h2 If the problem persists, please notify Management
    %h2 Thank you.