.content
  -unless @leads.present?
    .announce No Leads
  -else
    .data
      .row.header
        %span.name Prospect
        %span.company Company
        %span.location Location
        %span.status Status
      -@leads.each do |lead|
        .row[lead]{ :class => cycle("odd", "even") }
          %span.name=lead.full_name
          %span.company=lead.company
          %span.location #{lead.city}, #{lead.state}
          %span.status=(lead.status.blank? ? '&nbsp;' : lead.status.code)
      =will_paginate @leads
      
-content_for :styles do
  %style
    :sass
      .data
        .row
          :padding 0.25em 0.5em
          &:hover
            :background-color black
          span
            :display inline-block
          span.name
            :font-weight bold
            :width 200px
          span.company
            :width 200px
          span.location
            :width 200px
          span.status
            :width 50px
        .header
          span
            :font
              :weight bold
              :size 12pt