
* {
  margin: 0px;
  padding: 0px; }

html, body {
  height: 100%; }

body {
  font-size: 12.5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #003667; }
  body >div {
    margin: 0 auto; }

a {
  text-decoration: none;
  color: #00a667; }
  a:link, a:visited {
    text-decoration: none;
    color: #00a667; }
  a:hover {
    text-decoration: underline;
    color: #f69000; }

div#body {
  width: 960px;
  height: 100%;
  background-color: #00549f; }

hr.clear {
  margin-bottom: -1px;
  height: 1px;
  visibility: hidden;
  clear: both; }

hr.lclear {
  margin-bottom: -1px;
  height: 1px;
  visibility: hidden;
  clear: left; }

hr.rclear {
  margin-bottom: -1px;
  height: 1px;
  visibility: hidden;
  clear: right; }

#hd {
  width: 960px;
  height: 140px;
  top: 2em;
  position: relative; }
  #hd div {
    position: relative; }
  #hd #branding {
    text-align: center; }
    #hd #branding #application {
      font-size: 50px;
      font-weight: bold;
      color: white;
      text-decoration: underline; }
    #hd #branding #subtitle {
      color: #00a667;
      position: relative;
      top: -15px;
      font-weight: bold;
      left: 560px;
      float: left; }
  #hd #identity {
    width: 180px;
    position: absolute;
    right: 0.75em;
    top: 0;
    float: right;
    background-color: #1e4d77; }
    #hd #identity * {
      margin: 1em; }
    #hd #identity #login {
      font-weight: bold; }
    #hd #identity .act {
      display: block;
      text-align: right; }
      #hd #identity .act a:link, #hd #identity .act a:visited {
        color: #f69000; }
      #hd #identity .act a:hover {
        color: #00a667; }

#bd {
  width: 960px; }
  #bd #nav #navbar ul {
    background-color: #0700ab;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0.2em 0;
    text-align: center; }
    #bd #nav #navbar ul li {
      display: inline;
      width: 10em; }
      #bd #nav #navbar ul li a {
        padding: 0.2em 1em;
        text-decoration: none;
        color: #f69000;
        height: 3em;
        text-align: center;
        margin: auto;
        font-size: 25px; }
        #bd #nav #navbar ul li a:hover {
          background-color: #3b35d5;
          color: white; }
  #bd #nav a {
    font-weight: bold; }
  #bd #flash {
    font-weight: bold; }
    #bd #flash .error {
      color: red; }
    #bd #flash .status {
      color: green; }
  #bd #content {
    margin: 0;
    text-align: left; }
    #bd #content >div {
      padding: 1em; }
    #bd #content #sidebar {
      width: 180px;
      float: right; }
      #bd #content #sidebar div.menu {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: !cl_brdr;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: !cl_brdr;
        background-color: #00a667;
        margin: 0 0 0 0.25em;
        width: 180px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16.5px; }
        #bd #content #sidebar div.menu .title {
          display: block;
          text-align: center;
          border-bottom: 1px solid;
          border-bottom-color: #003667;
          padding: 1em 0 !important; }
          #bd #content #sidebar div.menu .title.name {
            background-color: #0700ab; }
        #bd #content #sidebar div.menu ul.menu {
          list-style: none;
          text-decoration: none; }
          #bd #content #sidebar div.menu ul.menu li {
            color: white;
            margin: 0 0 0 10px; }
            #bd #content #sidebar div.menu ul.menu li form {
              text-align: right;
              margin-right: 10px; }
            #bd #content #sidebar div.menu ul.menu li a {
              display: block;
              text-decoration: none;
              background-image: none;
              height: 100%; }
              #bd #content #sidebar div.menu ul.menu li a:link, #bd #content #sidebar div.menu ul.menu li a:visited {
                color: white; }
              #bd #content #sidebar div.menu ul.menu li a:hover {
                background-color: #35d297;
                color: black; }
    #bd #content #main {
      margin: 0;
      width: 720px; }

#ft {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 1em; }

#TB_window #TB_ajaxContent {
  background-color: #003667;
  overflow: hidden; }
  #TB_window #TB_ajaxContent .modal {
    width: 100%;
    color: white; }
    #TB_window #TB_ajaxContent .modal fieldset .row {
      padding: 10px 20px; }
      #TB_window #TB_ajaxContent .modal fieldset .row .button em button {
        padding: 5px 10px; }
    #TB_window #TB_ajaxContent .modal .widget .single {
      margin: 0 auto;
      text-align: center; }
    #TB_window #TB_ajaxContent .modal .widget .right {
      text-align: right; }
    #TB_window #TB_ajaxContent .modal .widget .widget_item {
      margin: 1em; }
  #TB_window #TB_ajaxContent a {
    text-decoration: none;
    color: #00a667 !important; }
    #TB_window #TB_ajaxContent a:link, #TB_window #TB_ajaxContent a:visited {
      text-decoration: none;
      color: #00a667 !important; }
    #TB_window #TB_ajaxContent a:hover {
      text-decoration: underline;
      color: #f69000 !important; }

.clear {
  overflow: hidden;
  width: 100%; }

a.button {
  background: transparent url('/images/bg_button_a.gif') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;
  text-decoration: none; }
  a.button span {
    background: transparent url('/images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px; }
  a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; }
    a.button:active span {
      background-position: bottom left;
      padding: 6px 0 4px 18px; }

#branding #logo img {
  position: relative;
  top: -75px;
  left: -310px;
  height: 60px;
  width: 70px; }
#branding #company {
  font-size: 12.5px;
  left: -80px; }
