<p>
	Welcome to Pursuit, Trigon Solutions' telesales portal system.
</p>

<p>
	To get started, please take a look at the documentation here:
	<ul>
		<li><%= link_to 'Getting Started', '/pdfs/getting_started.pdf' %></li>
	</ul>
</p>

<p>
	Once you're ready to roll, please you may login below.  Happy hunting!
	<p>
	<%= render :partial => 'sessions/login' %>
	</p>
</p>