#assignment-block.dialog.modal
  .title Block Assignment
  -modal_form(admin_user_assignments_path(@user, :format => :json), :datatype => :json, :success => "window.alert('Assigned '+(request.assignments || 0)+' leads.'); location.reload(true); return false;", :error => "window.alert('Assignments could not be made. Errors: '+(request.errors || 'undefined'));") do |f|
    %fieldset
      .fields.container_16
        .row
          .fieldname.grid_2.alpha
            %label{ :for => :size } Block Size
          .field.grid_5.omega=text_field_tag :size, 500
          .clear
        .row
          .fieldname.grid_2.alpha
            %label{ :for => :size } Time Zone
          .field.grid_5.omega=select_tag :time_zone, [['Eastern', 'E'], ['Central', 'C'], ['Mountain', 'M'], ['Pacific', 'P'], ['Alaska', 'A'], ['Hawaii', 'H']], :include_blank => true
          .clear
        .row
          .button.grid_5.alpha.omega
            %em
              %button{ :type => 'submit' } Save
          .clear