#admin-dashboard .widget {
  width: 250px;
  background-color: #5fd2a7;
  margin: 0;
  padding: 2px; }
  #admin-dashboard .widget .title {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    color: white;
    background-color: #006c43; }
  #admin-dashboard .widget .item {
    padding: 10px; }
    #admin-dashboard .widget .item >div {
      width: 49.5%; }
    #admin-dashboard .widget .item .metric {
      float: left; }
    #admin-dashboard .widget .item .value {
      float: right;
      text-align: right; }
