#getting_started .vessel {
  height: 550px; }

#getting_started .vessel, #nda .vessel {
  overflow: auto;
  padding: 1em;
  font-size: 1em; }
#getting_started .agreement .choice, #nda .agreement .choice {
  width: 49.75%;
  float: left;
  text-align: center;
  margin: 0 auto; }
#getting_started h1, #getting_started h2, #getting_started p, #nda h1, #nda h2, #nda p {
  padding-bottom: 0.5em; }
#getting_started h1, #getting_started h2, #nda h1, #nda h2 {
  padding-top: 0.5em;
  font-weight: bold; }
#getting_started h1, #nda h1 {
  font-size: 2em; }
#getting_started h2, #nda h2 {
  font-size: 1.5em;
  font-style: italic; }
#getting_started ol, #nda ol {
  list-style-type: decimal; }
#getting_started ul, #nda ul {
  list-style-type: circle; }
#getting_started ol, #getting_started ul, #nda ol, #nda ul {
  padding-left: 1em;
  margin-left: 0.25em; }
  #getting_started ol li, #getting_started ul li, #nda ol li, #nda ul li {
    padding-left: 1em;
    margin-left: 0.25em; }
#getting_started h2, #getting_started .highlight, #nda h2, #nda .highlight {
  color: gold; }
