#appointment.dialog.modal
	-modal_form_for(@appointment, lead_appointments_url(@lead)) do |f|
		%fieldset
			.fields.container_16
				.row
					.fieldname.grid_2.alpha=f.label :client_email
					.field.grid_5.omega=f.text_field :client_email
					.clear
				.row
					.fieldname.grid_2.alpha=f.label :topic
					.field.grid_5.omega=f.select :topic_id, Topic.find_all_by_complimentary(true, :order => 'number').map{ |t| ["#{t.number.to_s.rjust(2, '0')} - #{t.name}", t.id] }
					.clear
				.row
					.fieldname.grid_2.alpha=f.label :location, 'Phone Number'
					.field.grid_5.omega=f.text_field :location
					.clear
				.row
					.fieldname.grid_2.alpha=f.label :session_date
					.field.grid_5.omega=f.date_select :session_date
					.clear
				.row
					.fieldname.grid_2.alpha=f.label :session_time
					.field.grid_5.omega=f.time_select :session_time
					.clear
				.row
					.fieldname.grid_2.alpha=f.label :notes
					.field.grid_5.omega=f.text_area :notes
					.clear
				.row
					.button.prefix_2.grid_5.omega.alpha=f.submit 'Save'
					.clear