#call-queues
	-@queues.each do |q|
		-if q.leads and q.leads.count > 0
			.row
				.grid_8
					.name Queue for: #{q.queue_date.strftime('%A, %d %B %Y')}
					.controls
						.show= link_to "Show", user_call_queue_url(current_user, q)
						.start= link_to "Start", user_call_queue_touchpoint_url(current_user, q, q.touchpoints.first)
						/ .resume= link_to "Resume", resume_user_call_queue_url(current_user, q)
						/ .copy= link_to "Copy", copy_user_call_queue_url(current_user, q)
				.clear
	
-content_for :sidebar do
	#actions.menu
		.title Actions
		%ul.menu
			/ %li=link_to content_tag(:span, 'New Default'), default_user_call_queues_url(current_user)
			/ %li=link_to content_tag(:span, 'New Queue'), new_user_call_queue_url(current_user)
			%li=link_to content_tag(:span, 'New Queue'), user_call_queues_url(current_user), :method => :post
				