#users
  .grid-head
    %div.row
      .info
        .id.grid_2 User ID
        .login.grid_4 Name/Login
        .emp_id.grid_2 Employee ID
      .clear
  .grid-data
    -@users.each do |user|
      %div.row[user]
        .info
          .id.grid_2=user.id
          .login.grid_4=user.name
          .emp_id.grid_2=user.employee_id
        .controls
          .deactivate.grid_2=link_to_remote 'Deactivate', :url => deactivate_admin_user_path(user), :success => "alert('User deactivated');", :failure => "alert('Unable to deactivate user.  Please contact support.');"
          .password.grid_2=link_to_remote 'Reset', :url => reset_password_admin_user_path(user), :success => "alert('Password reset');", :failure => "alert('Unable to reset password.  Please contact support.');"
            / %em
            /   %button{ :type => 'submit' } Save
        .clear