:javascript
  document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://ssl." : "http://www.") + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try{ _gat._getTracker('UA-1140171-1')._trackPageview(); }catch(err){}
