#call-queues .row {
  background-color: #00549f;
  font-size: 14px;
  clear: none;
  padding: 1em;
  margin: 0.25em 0.5em;
  height: 2em; }
  #call-queues .row:hover {
    background-color: #3b35d5; }
  #call-queues .row div>div {
    float: left;
    margin: 0 1em 0 0; }
    #call-queues .row div>div a:link, #call-queues .row div>div a:visited {
      color: #003667; }
    #call-queues .row div>div a:HOVER {
      color: #f69000; }
