.content
  -unless @applicants.present?
    .announce No Applicants
  -else
    .data
      .row.header
        %span.name Name
        %span.applied Applied At
      -@applicants.each do |app|
        .row[app]{ :class => cycle("odd", "even"), :onclick => "$(this).find('.expanded-details').slideToggle();" }
          .details
            %span.name=app.full_name
            %span.applied=(app.created_at.present? ? app.created_at.strftime('%Y-%m-%d %H:%M') : 'N/A')
            %span.controls
              =link_to_remote 'Reject', :url => reject_admin_applicant_path(app, :format => :json), :success => "alert('Applicant rejected');", :failure => "alert('Unable to reject applicant.  Please contact support.');"
              =link_to_remote 'Onboard', :url => onboard_admin_applicant_path(app, :format => :json), :success => "alert('Applicant onboarded');", :failure => "alert('Unable to onboard applicant.  Please contact support.');"
          .expanded-details{ :style => 'display:none' }
            -app.attributes.sort.reject{|kv| ['applicantfirstname','applicantlastname','id','created_at','updated_at'].include?(kv[0]) }.select{|kv| kv[1].present? }.each do |kva|
              %div.attr{ :style => 'float:left;width:49%;'}
                %span.name=kva[0]
                %span.value=kva[1]
            %hr
      =will_paginate @applicants
      
-content_for :styles do
  %style
    :sass
      .data
        .row
          :padding 0.25em 0.5em
          :cursor crosshair
          &:hover
            :background-color black
          .details
            span
              :display inline-block
            span.name
              :font-weight bold
              :width 200px
            span.applied
              :width 150px
            .controls
              a
                :color gold
                :padding 0 0.5em
                &:hover
                  :text-decoration underline
          .expanded-details
            :margin 5px
            span.name
              :font-weight bold
        .header
          span
            :font
              :weight bold