-content_for :menu do
  / %li=link_to 'Assignments', admin_assignments_path
  %li=link_to 'Users', admin_users_path
  %li=link_to 'Applicants', admin_applicants_path
  %li=link_to 'Quick Find', '#', :id => 'quick_find'

-content_for :submenu do
  #quick_find_form{ :style => 'display:none' }
    -form_tag '/', {:method => :get, :id => 'go_to_lead'} do
      =text_field_tag 'phone', nil, :size => 10
      =submit_tag 'Go'
        
  :javascript
    $(function(){
      $('#quick_find').click(function(e){
        $('#quick_find_form').slideToggle("slow");
      });
      
      $('#go_to_lead').submit(function(e){
        var phone = $(this).find("input[name='phone']").val().replace(/-/gi, "");
        if(phone && phone.length == 10){
          var url = '/leads/phone/'+phone;
          window.location.href = url;
        }
        return false;
      });
    });
    
  %style
    :sass
      #quick_find_form
        :position relative
        :top 0
        :left 0
        :float right
        input[type='text']
          :width 15em
    
=render :file => 'layouts/application'