!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }
    %title Prospektor
    =thirdparty_stylesheet_link_tag '960gs/960'
    <!-- [if lt IE 8]>
    =stylesheet_link_tag 'ie7'
    <![endif]-->
    =thirdparty_stylesheet_link_tag 'thickbox'
    =stylesheet_link_tag 'gemcutter'
    =stylesheet_link_tag 'gemcutter-overrides'
    / # =stylesheet_link_tag 'prospektor'
    =stylesheet_action_link_tag
    =yield :styles
    -if Rails.env == 'production'
      %script{ :src => "http://www.google.com/jsapi" }
      :javascript
        google.load("jquery", "1.4.2");
      =javascript_include_tag 'jquery.form'
    -else
      =javascript_include_tag 'jquery'
      =javascript_include_tag 'jquery.form'
    =javascript_include_tag 'jquery.dropshadow'
    =javascript_include_tag 'jrails' 
    =javascript_include_tag 'thickbox'
    =periodically_call_remote :url => session_expiry_url, :frequency => 60, :update => 'warn' if logged_in? and Rails.env != 'development'
    =javascript_action_include_tag
    =javascript_include_tag 'http://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js'
    :javascript
      $(function(){
        $('#hd header h1 a').dropShadow();
        
        $('#help_menu').click(function(e){
          $('#help_links').slideToggle(400);
        });
                
        feedback_widget = new GSFN.feedback_widget({
          container:'getsatisfaction', 
          company:'trigon_solutions'
        });
      })
    =yield :scripts
  %body
    .flash
    #hd
      #getsatisfaction
      .container_12
        .prefix_1.grid_4.header
          .supertitle Trigon Solutions, Inc.
          %h1=link_to 'Prospektor', 'http://sales.trigonsolutions.com/'
          .subtitle Your Key to Success
        .grid_6.suffix_1.nav
          -if logged_in?
            %ul.linky
              / %li=link_to(current_user.name, user_profile_url(current_user))
              %li=current_user.name
              %li.small
                =link_to content_tag(:span, '(logout)'), logout_url
            %ul
              %li=link_to 'dashboard', dashboard_url
              %li=link_to 'leads', user_leads_url(current_user)
              %li=link_to 'admin', admin_dashboard_url if current_user.is_admin?
              %li=link_to 'help', '#', :id => 'help_menu'
            #help_links.dropdown{ :style => 'display:none' }
              %div
                =link_to 'Sales Aides', sales_aides_url(:height => 300, :width => 300), :class => 'thickbox'
              %div
                =link_to 'Users Guide', users_guide_url(:height => 600, :width => 500), :class => 'thickbox'
            / -form_tag(search_url) do |sf|
            /   .text_field=text_field_tag :query
            /   =submit_tag 'Search', :id => 'search_submit'
      %hr
    #bd
      .container_12
        .prefix_1.grid_10.suffix_1.main
          .menu
            =yield :menu
          / .blurb
          /   #error.flash=flash[:error]
          /   #warn.flash
          /   #notice.flash=flash[:notice]
          .main
            %div{ :id => controller_name }
              %div{ :id => action_name }
                =yield
      %hr
    #ft
      .container_12
        .footer
          .prefix_1.grid_6
            .links
              #copyright
                %span &copy; 2010, Trigon Solutions, Inc.
          .suffix_1.grid_4
            #badges.badges
              %a{ :href => 'http://www.trigonsolutions.com', :target => '_blank'}
                operated by
                =image_tag('trigon_logo.gif', :title => 'Trigon Solutions')
                Trigon 
                %br
                Solutions
              %a{ :href => 'http://www.mockingbirdsoftware.com', :target => '_blank'}
                designed by
                =image_tag('mockingbird_badge.gif', :title => 'Mockingbird Software')
                Mockingbird
                %br
                Software
              %a{ :href => 'http://rubyonrails.org', :target => '_blank'}
                powered by
                =image_tag('rubyonrails.png', :title => 'Ruby on Rails')
                Ruby on
                %br
                Rails
      %hr
    =include_google_analytics('UA-15348508-1') if Rails.env == 'production'