!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    / %meta
    %title Prospektor
    =stylesheet_link_tag 'reset' 
    =stylesheet_link_tag '960gs/text' 
    =stylesheet_link_tag '960gs/960' 
    =stylesheet_link_tag 'thickbox' 
    =stylesheet_link_tag 'master' 
    =stylesheet_action_link_tag
    %style{ :type => "text/css" }=yield :styles
    -if Rails.env == 'production'
      =javascript_include_tag 'jquery' 
      =javascript_include_tag 'jquery.form'
      =javascript_include_tag 'ui/minified/jquery-ui.min'
    -else
      =javascript_include_tag 'jquery' 
      =javascript_include_tag 'jquery.form'
      =javascript_include_tag 'ui/jquery-ui'
    =javascript_include_tag 'jrails' 
    =javascript_include_tag 'thickbox' 
    =javascript_include_tag 'application' 
    =javascript_action_include_tag
    =javascript_include_tag 'http://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js'
    =yield :scripts
    :javascript
      $(document).ready(function(){ 
        feedback_widget = new GSFN.feedback_widget({
          container:'getsatisfaction', 
          company:'trigon_solutions'
        }); 
      })
  %body  
    #page.container_16
      #hd
        #branding
          / =image_tag 'trigon_logo.gif', :style => 'float:left;height:3em;width:3em;'
          #company Trigon Solutions Presents:
          #application PROSPEKTOR
          / #application &#1056;&#1071;&#1054;&#1057;&#1056;&#1047;&#1050;&#1058;&#1054;&#1071;
          #subtitle Your Key to Success
          #logo=prospektor_logo
        #identity
          -if logged_in?
            .info Logged in as:
            #login.info=current_user.name
            .act=link_to 'Logout', logout_url
      .clear
      #bd
        #nav
          #navbar
            -if logged_in?
              %ul
                %li=link_to 'Dashboard', dashboard_url
                %li=link_to 'Start Calling', user_call_queues_url(current_user), :method => :post if controller_name == 'dashboard'
                / %li=link_to 'Reports', user_reports_url(current_user)
                -restrict_to "admin" do
                  %li=link_to 'Admin', admin_dashboard_url
        #flash
          #errors.error=flash[:errors]
          #status=flash[:notice]
        #content
          #sidebar=yield :sidebar
          #main=yield
      .clear
      #ft
        #copy
          %hr.clear
          &copy; 2010 Trigon Solutions, Inc.
    #getsatisfaction