<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<style type="text/css" media="screen">
		
	</style>
	<body>
		<table>
			<tr>
				<td>
					<%= yield %>
				</td>
			</tr>
			<tr>
				<td>
					&copy; 2009 Trigon Solutions, Inc.
				</td>
			</tr>
		</table>
	</body>
</html>
